* {
  box-sizing: border-box;
}

html {
  font-size: 100% !important;
}

/* Reset Styles */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Theme Variables */
:root {
  --brand-yellow: #ffc600;
  --brand-blue: #1a222e;
  --gray-dark: #485363;
  --gray: #d7dadd;
  --gray-light: #f3f3f3;
  --white: #ffffff;
  --black: #000000;
  --dark-bg: #0d1117;
  --dark-bg-50: rgba(13, 17, 23, 0.5);

  /* Gradients */
  --gradient-dark: linear-gradient(180deg, var(--brand-blue) 0%, var(--dark-bg) 100%);

  /* Typography */
  --font-h1: 3rem;
  --font-h1-mobile: 2rem;
  --font-h2: 2.4375rem;
  --font-h2-mobile: 1.75rem;
  --font-h3-mobile: 1.625rem;
  --font-h3: 1.9375rem;
  --font-h4-mobile: 1.25rem;
  --font-h4: 1.5625rem;
  --font-h5: 1.25rem;
  --font-h5-mobile: 1.125rem;
  --font-h6: 1rem;
  --font-body-large: 1.125rem;
  --font-body: 1rem;
  --font-body-small: 0.875rem;
  --font-body-xsmall: 0.75rem;
  --font-body-xxsmall: 0.625rem;
  --line-height-none: 100%;
  --line-height-tight: 130%;
  --line-height-base: 150%;
  --line-height-loose: 175%;
}

/* Base Theme */
body.g360-theme {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, sans-serif;
  font-size: var(--font-body);
  line-height: var(--line-height-none);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

body.g360-theme--dark {
  background-color: var(--dark-bg);
  color: var(--white);
}

body.g360-theme--light {
  color: var(--brand-blue);
}

/* // text and backgroudn colors depending if dark or light them for every main section */

.g360-theme--light .g360-header {
  background-color: var(--gray-light);
  color: var(--brand-blue);
}

.g360-theme--dark .g360-header {
  background-color: var(--dark-bg);
  color: var(--white);
}

/* Base Typography */
.g360-h1 {
  font-weight: 700;
  font-size: var(--font-h1-mobile);
  line-height: var(--line-height-none);
}

@media (min-width: 1024px) {
  .g360-h1 {
    font-size: var(--font-h1);
  }
}

.g360-h2 {
  font-weight: 700;
  font-size: var(--font-h2-mobile);
  line-height: var(--line-height-none);
}

@media (min-width: 1024px) {
  .g360-h2 {
    font-size: var(--font-h2);
  }
}

.g360-h3 {
  font-weight: 700;
  font-size: var(--font-h3-mobile);
  line-height: var(--line-height-none);
}

@media (min-width: 1024px) {
  .g360-h3 {
    font-size: var(--font-h3);
  }
}

.g360-h4 {
  font-weight: 700;
  font-size: var(--font-h4-mobile);
  line-height: var(--line-height-none);
}

@media (min-width: 1024px) {
  .g360-h4 {
    font-size: var(--font-h4);
  }
}

.g360-h5 {
  font-weight: 700;
  font-size: var(--font-h5-mobile);
  line-height: var(--line-height-none);
}

@media (min-width: 1024px) {
  .g360-h5 {
    font-size: var(--font-h5);
  }
}

.g360-h6 {
  font-weight: 700;
  font-size: var(--font-h6);
  line-height: var(--line-height-none);
}

.g360-body {
  font-weight: 400;
  font-size: var(--font-body);
  line-height: var(--line-height-none);
  letter-spacing: 0.01em;
}

.g360-body-small {
  font-weight: 400;
  font-size: var(--font-body-small);
  line-height: var(--line-height-none);
  letter-spacing: 0.01em;
}

.g360-body-extra-small {
  font-size: var(--font-body-xsmall);
  line-height: var(--line-height-none);
  letter-spacing: 0.01em;
}

/* Buttons */
.g360-button {
  height: 46px;
  padding: 0 28px;
  font-size: 16px;
  line-height: var(--line-height-none);
  font-weight: 700;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  transition: opacity 0.2s;
}

.g360-button--rounded {
  border-radius: 54px;
}

.g360-button:hover {
  opacity: 0.9;
}

@media (min-width: 1024px) {
  .g360-button {
    height: 56px;
  }
}
.g360-button--primary:hover,
.g360-button--primary:focus,
.g360-button--primary {
  background: var(--brand-yellow);
  color: var(--dark-bg);
}

.g360-button--secondary {
  background: var(--brand-blue);
  color: var(--white);
  border: 1px solid var(--gray-dark);
}

.g360-button--secondary:hover,
.g360-button--secondary:focus {
  background: var(--gray-dark);
  color: var(--white);
}

.g360-button--tertiary {
  background: var(--white);
  color: var(--dark-bg);
}

.g360-button--tertiary:hover,
.g360-button--tertiary:focus {
  background: var(--white);
  color: var(--dark-bg);
}

.g360-cart-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 35px;
  justify-self: end;
}

.g360-container {
  padding: 0 28px;
}

.g360-page-container {
  max-width: 102rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 28px;
  padding-right: 28px;
  width: 100%;
}

@media (min-width: 1280px) {
  .g360-page-container {
    padding-left: 56px;
    padding-right: 56px;
  }
}

@media (min-width: 1440px) {
  .g360-page-container {
    padding-left: 96px;
    padding-right: 96px;
  }
}

.full-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}

/* form */

.g360-zip-code-section {
  border-radius: 24px;
  background-color: var(--brand-blue);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media (min-width: 1024px) {
  .g360-zip-code-section {
    padding: 32px;
  }
}

.g360-zip-code-form-input-wrapper {
  position: relative;
  display: flex;
  background-color: var(--brand-blue);
  justify-content: end;
  border-radius: 12px;
  gap: 12px;
}

.g360-zip-code-form-input-wrapper .g360-zip-code-form-input {
  position: absolute;
  inset: 0;
  padding: 0 20px;
  background: none;
  border: 1px solid var(--gray-dark);
  color: var(--white);
  border-radius: 12px;
  font-size: var(--font-body-small);
  transition: border-color 0.2s;
  -webkit-text-fill-color: var(--white);
  -webkit-box-shadow: 0 0 0px 1000px var(--brand-blue) inset;
}

.g360-zip-code-form-input-wrapper .g360-zip-code-form-input:-webkit-autofill,
.g360-zip-code-form-input-wrapper .g360-zip-code-form-input:-webkit-autofill:hover,
.g360-zip-code-form-input-wrapper .g360-zip-code-form-input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--white);
  -webkit-box-shadow: 0 0 0px 1000px var(--brand-blue) inset;
  transition: background-color 5000s ease-in-out 0s;
}

@media (min-width: 480px) {
  .g360-zip-code-form-input-wrapper .g360-zip-code-form-input {
    padding-right: 120px;
  }
}

@media (max-width: 480px) {
  .g360-zip-code-form-input-wrapper .g360-zip-code-form-input {
    position: relative;
    min-height: 48px;
    background-color: var(--brand-blue);
  }
  .g360-zip-code-form-input-wrapper {
    background-color: transparent;
  }
}

.g360-zip-code-form-submit-button {
  margin-top: 1px;
  position: relative;
  z-index: 10;
}

.g360-zip-code-form-submit-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.g360-zip-code-form-input-wrapper .g360-zip-code-form-input:hover {
  border-color: var(--gray);
  color: var(--white);
}

.g360-zip-code-form-input-wrapper .g360-zip-code-form-input:focus {
  outline: none;
  color: var(--white);
  border-color: var(--white);
}

.g360-zip-code-form-input-wrapper .g360-zip-code-form-input::placeholder {
  color: var(--white);
}

.g360-zip-code-form-error {
  margin-top: 16px;
  color: #ff3b30;
  font-weight: 700;
}

.g360-zip-code-form-success {
  color: var(--brand-yellow);
  font-weight: 700;
  margin-top: 8px;
}

/* Responsive adjustments */
@media (max-width: 480px) {
  .g360-zip-code-form-input-wrapper {
    flex-direction: column;
  }

  .g360-zip-code-form .g360-button {
    width: 100%;
  }
}

.g360-zip-code-claim {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 12px;
  transition: all 0.3s ease;
}

@media (min-width: 1024px) {
  .g360-zip-code-claim {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.g360-zip-code-claim-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.g360-zip-code-claim-button:disabled {
  background: var(--gray-dark);
  color: var(--gray);
  cursor: not-allowed;
  opacity: 0.7;
}

.g360-zip-code-claim-initial {
  width: 100%;
  height: 44px;
  background: rgba(72, 83, 99, 0.3);
  border-radius: 8px;
  display: block; /* Ensure initial state is visible */
}

.g360-zip-code-claim-success-text {
  color: rgb(59, 212, 42);
}

.g360-zip-code-claim-error-text {
  color: var(--brand-yellow);
}

.g360-zip-code-claim-description {
  color: var(--gray-light);
}
